<h1>Invoices</h1>
<ul>
  <% @invoices.each do |invoice| %>
    <li><%= link_to invoice.number, sender_invoice_invoice_path(invoice), method: :post %></li>
  <% end %>
</ul>
<p><%= link_to "New Invoice", new_invoice_path %></p>
